.log-container {
  margin: 0 10rem 0 10rem;
  padding: 10rem 12rem 10rem 0;
  border-radius: 15px!important;
  font-size: 2vmin;
}

.form-container {
  padding-left: 120px;
  border-left: 1px solid #e0e0e0;
}

.form-round {
  background-color: #F2F0EF;
  border: none;
  border-radius: 15px;
  font-size: 1.8vmin;
  padding-left: 15px!important;
}

.form-round:focus {
  box-shadow: none!important;
  background-color: #e0e0e0;
}

.btn-lightblue {
  background-color: #5C75DD;
  color: #FFFBFA;
  border-color: #5C75DD;
  border-radius: 15px;
}

.btn-lightblue:hover {
  background-color: #FFFBFA;
  border: 1px solid #5C75DD;
  color: #5C75DD;
}

.btn-lightblue:focus{
  box-shadow: none;
  background-color: #5C75DD;
  color: #FFFBFA;
  border-color: #5C75DD;
}

.m-adj {
  margin-left: 50px;
}

.corzinhaaa{
  color: #111111;
}

.corzinhaaa:hover{
  color: #5C75DD;
}